<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Chris Juckes. It uses data from mapbox.com and weatherstack.</p>
    <img class="improve" src="/img/improvement.png">
  </div>
  {{>footer}}
</body>

</html>
